# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
3205_test_front/node_modules
3205_test_backend/node_modules
/.pnp
.pnp.js

# Logs
3205_test_backend/logs
3205_test_backend/*.log



# production
/build


